* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.905);
    align-content: space-between;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.presentation{
    color: rgb(222, 90, 90);
    background-color: rgb(234, 165, 81);
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.menu{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.description{
    text-align: center;
    font-size: 30px;
}

.competences{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.texte{
    font-size: 30px;
}

h2{
    font-size: 40px;
}

.qui{
    text-align: center;
    font-size: 30px;
}
.fonction{
    font-size: 40px;
}
.fonction_exp{
    text-align: center;
    font-size: 30px;
}
.imagefamille{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}





@media screen and(max-width: 900px){
    .h1, .competences{
        font-size: medium;
    }
}